.categories {
  display: flex;
}

.categories-image-container {
  position: fixed;
  margin-left: 225px;
}

.categories-list-container {
  margin-left: 5.4vh;
  margin-top: 4vh;
}

#categories-image {
  height: 120vh;
}
