.categories {
  display: flex;
}

.categories-image-container {
  position: fixed;
  bottom: 0px;
  margin-left: 350px;
}

#categories-image {
  height: 600px;
  // background-color: rgb(237, 28, 71);
}
