html, body {
  margin: 0;
  background-color: white;
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 60px;
}

a {
  text-decoration: none;
  color: rgb(50, 25, 22);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 18px;
  height: 55px;
  background-color: white;
  margin-left: 215px;
  margin-right: 215px;
  font-family: 'Lobster', cursive;
  padding-bottom: 15px;
  border-bottom: 2px solid black;
}

#nav-image {
  width: 60px;
}

main {
  padding-left: 150px;
  padding-top: 18px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  background-color: black;
  // background-color: rgb(34, 34, 36);
  color: rgb(229,229,232);
  height: 60px;
  width: 100%;
}

#footer-link {
  color: white;
}

// p.flash {
//   -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 3px;
//   -webkit-box-shadow:rgba(0, 0, 0, 0.5) 0 1px 3px;
//   -o-box-shadow:rgba(0, 0, 0, 0.5) 0 1px 3px;
//   box-shadow:rgba(0, 0, 0, 0.5) 0 3px;
//   -moz-border-radius-bottomleft: 6px;
//   -webkit-border-bottom-left-radius: 6px;
//   -o-border-bottom-left-radius: 6px;
//   -ms-border-bottom-left-radius:6px;
//   -khtml-border-bottom-left-radius: 6px;
//   border-bottom-left-radius: 6px;
//   -moz-border-radius-bottomright: 6px;
//   -webkit-border-bottom-right-radius: 6px;
//   -o-border-bottom-right-radius: 6px;
//   -ms-border-bottom-right-radius: 6px;
//   -khtml-border-bottom-right-radius: 6px;
//   border-bottom-right-radius: 6px;
//   -moz-box-sizing: border-box;
//   -webkit-box-sizing: border-box;
//   -ms-box-sizing: border-box;
//   box-sizing: border-box;
//   background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0,0,0,0.4)), color-stop(100%, rgba(0,0,0,0.6)));
//   background-image: -moz-linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6));
//   background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6));
//   border: 3px solid rgba(255, 255, 255, 0.5);
//   -moz-background-clip:padding;
//   -webkit-background-clip:padding;
//   -o-background-clip:padding-box;
//   -ms-background-clip:padding-box;
//   -khtml-background-clip:padding-box;
//   background-clip:padding-box;
//   text-shadow:rgba(0, 0, 0, 0.6) 0 -1px;
//   color:#fff;margin:0 auto;position:absolute;
//   top:-51px;
//   left:0;
//   padding:.4em .8em;
//   width:100%;text-align:center;border-top:0}
// p.flash {
//   height: 0px;
//   overflow:hidden;
//   padding:0;
//   border-width:0;
//   -moz-box-shadow:none;
//   -webkit-box-shadow:none;
//   -o-box-shadow:none;
//   box-shadow:none;
//   background:none
// }
