.contributors-list-background {
  background-image: url(paint.png);
  background-repeat: no-repeat;
  // background-attachment: fixed;
  height: 500px;
}

.contributors-list-container {
  margin-left: 100px;
  margin-top: 0px;
}
