<h3>All dreams under category: <%= @category.name %></h3>

<ul>
  <% @category.dreams.each do |dream| %>
    <li><%= link_to dream.title, dream_path(dream) %> : <%= dream.user.user_name %></li>
  <% end %>
</ul>
