<h3>Add Category to <%= @dream.title %></h3>

<% submit_path = dream_create_add_category_path(@dream) %>

<p>Additional Category</p>
<form action="<%= submit_path %>">
  <select name='dream[new_category_id]'>
    <% @categories.each do |category| %>
      <option value="<%= category.id %>"><%= category.name %></option>
    <% end %>
  </select><br/>
  <input type='submit' value='Add Category to Dream'/>
</form>
